<p id="notice"><%= notice %></p>

<h1>User Logins</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Remote ip</th>
      <th>Login on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_logins.each do |user_login| %>
      <tr>
        <td><%= user_login.user_id %></td>
        <td><%= user_login.remote_ip %></td>
        <td><%= user_login.login_on %></td>
        <td><%= link_to 'Show', user_login %></td>
        <td><%= link_to 'Edit', edit_user_login_path(user_login) %></td>
        <td><%= link_to 'Destroy', user_login, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Login', new_user_login_path %>
