<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :customer_name %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.text_field :avatar, id: :customer_avatar %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :customer_description %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :customer_website %>
  </div>

  <div class="field">
    <%= form.label :authentication_token %>
    <%= form.text_field :authentication_token, id: :customer_authentication_token %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :customer_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
