<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @customer.avatar %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @customer.website %>
</p>

<p>
  <strong>Authentication token:</strong>
  <%= @customer.authentication_token %>
</p>

<p>
  <strong>Status:</strong>
  <%= @customer.status %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
