<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id, id: :product_customer_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.text_field :avatar, id: :product_avatar %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :product_website %>
  </div>

  <div class="field">
    <%= form.label :application_token %>
    <%= form.text_field :application_token, id: :product_application_token %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version, id: :product_version %>
  </div>

  <div class="field">
    <%= form.label :support_platform %>
    <%= form.text_field :support_platform, id: :product_support_platform %>
  </div>

  <div class="field">
    <%= form.label :download_link %>
    <%= form.text_field :download_link, id: :product_download_link %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :product_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
